{
    "env": {
        "browser": true,
        "es6": true,
        "meteor": true,
        "node": true
    },
    "extends": ["eslint:recommended", "plugin:meteor/recommended"],
    "parserOptions": {
        "sourceType": "module"
    },
    "plugins": [
      "meteor"
    ]
}